.adventure {
  padding: 120px 0;
  background-color: $color-light-back;

  @include vp-1365 {
    padding: 90px 0;
  }

  @include vp-767 {
    padding: 55px 0 65px;
  }
}

.adventure__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.adventure__title {
  max-width: 45%;
  color: $color-dark-blue;

  @include vp-1365 {
    max-width: 48%;
  }

  @include vp-767 {
    max-width: 100%;
  }

  h3 {
    margin-bottom: 25px;

    @include vp-1365 {
      line-height: 1.4em;
      margin-bottom: 17px;
    }
  }

  p {
    @include reset-margins;
    font: 400 1em/1.5em $ff-default;

    @include vp-767 {
      margin-bottom: 33px;
    }
  }
}

.adventure__photo {
  width: 48.3%;

  @include vp-1365 {
    width: 47.8%;
  }

  @include vp-767 {
    width: 100%;
  }

  img {
    width: 100%;
    height: 301px;
    background-color: $header-background;
    object-fit: cover;
    object-position: center top;

    @include vp-1365 {
      height: 264px;
    }

    @include vp-767 {
      height: 186px;
    }
  }
}
