.back-bg {
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    background-color: $header-background;

    @include vp-767 {
      object-position: center 75%;
    }
  }

  &--map {
    img {
      z-index: 0;
    }
  }
}
