.booking-form {
  padding: 50px;
  width: 38.2%;
  background-color: $color-dark-blue;
  box-shadow: 0px 4px 45px rgba($color-dark-blue, 0.15);

  @include vp-1365 {
    width: 59.5%;
  }

  @include vp-767 {
    padding: 40px 38px;
    width: 100%;
  }

  p {
    @include reset-margins;
    font: 500 1.125em/1.5em $ff-default;
    color: $color-light-back;
    margin-bottom: 35px;

    @include vp-767 {
      text-align: center;
    }
  }

  input:not(input[type="checkbox"]) {
    border: none;
    display: block;
    padding: 11px 16px;
    width: 100%;
    background-color: $color-light-back;
    font: 400 1.3em/1.5em $ff-default;
    color: $color-dark-blue;
    transition: background-color 0.3s ease 0s;
    margin-bottom: 20px;

    &::placeholder {
      color: rgba($color-dark-blue, 0.7);
    }

    @media (hover: hover), screen and (min-width: $vp-1366) {
      &:hover {
        outline: 2px solid $color-active;
      }
    }

    &:focus {
      outline: 2px solid $color-active;
    }
  }

  button {
    border: none;
    padding: 16px;
    width: 100%;
    background-color: $color-light-back;
    font: 600 0.875em/1.2em $ff-default;
    color: $color-dark-blue;

    @media (hover: hover), screen and (min-width: $vp-1366) {
      &:hover,
      &:focus {
        background-color: $color-active;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  label[for="personal-data"] {
    display: inline-block;
    color: $color-light-back;
    font: 400 0.625em/1em $ff-default;
    padding-left: 23px;
    margin-bottom: 30px;
    position: relative;

    @include vp-767 {
      padding-left: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-color: $color-light-back;

      @include vp-767 {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      fill: none;
      display: none;

      @include vp-767 {
        width: 20px;
        height: 20px;
      }
    }

    @media (hover: hover), screen and (min-width: $vp-1366) {
      &:hover {
        color: $color-active;
      }
    }
  }

  input[type="checkbox"]:checked + label > svg {
    display: block;
  }

  input[type="checkbox"]:focus + label::before {
    background-color: $color-active;
  }

  .input--error {
    outline: 2px solid $color-error;

    &:focus {
      outline: 2px solid $color-error;
    }
  }
}
