.contacts {
  padding: 120px 0 92px;
  background-color: $color-light-back;

  @include vp-1365 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include vp-767 {
        flex-direction: column-reverse;
        justify-content: flex-start;
      }
    }

    &__info {
      width: 40.2%;

      @include vp-1365 {
      width: 48%;
      }

      @include vp-767 {
        width: 100%;
        margin-bottom: 40px;
      }

      p {
        &:first-of-type {
          font: 500 1.125em/1.5em $ff-default;
        }

        &:not(:first-of-type) {
          padding-left: 28px;
        }

        @include reset-margins;
        position: relative;
        font: 400 1em/1.2em $ff-default;
        color: $color-dark-blue;
        margin-bottom: 35px;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }

      a {
        color: $color-dark-blue;

        @media (hover: hover), screen and (min-width: $vp-1366) {
          &:hover,
          &:focus {
            color: $color-active;
          }
        }

        &:active {
          opacity: 0.5;
        }
      }
    }

    &__map {
      position: relative;
      width: 45.5%;
      height: 334px;

      @include vp-1365 {
        width: 48%;
        height: 335px;
      }

      @include vp-767 {
        width: 100%;
        height: 316px;
      }

      svg {
        position: absolute;
        bottom: 70px;
        right: 55%;
      }

      div {
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
}
