.cruises {
  padding: 110px 15px 120px;
  background-color: $color-light-back;

  @include vp-1365 {
    padding: 90px 15px 100px;
  }

  @include vp-767 {
    padding: 60px 10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 48px;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }
}
