.cruises-item {
  position: relative;
  z-index: 2;
  padding: 30px 25px 32px 25px;
  min-width: 260px;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $color-light-back;
  overflow: hidden;
  background-color: $color-dark-blue;

  @include vp-1365 {
    padding: 28px 35px 35px;

    &--nojs {
      img {
        display: none;
      }

      h3 {
        position: static;
        order: 0;
      }

      dl {
        z-index: 10;
      }

      a {
        z-index: 10;
      }

      .cruises-item__gradient-effect {
        z-index: -1;
      }
    }
  }

  @include vp-767 {
    padding: 25px 25px 35px;
  }

  h3 {
    @include reset-margins;
    position: relative;
    top: 25px;
    left: 7px;
    order: 3;
    z-index: 5;
    margin-bottom: 15px;
    font: 500 1.13em/1.5em $ff-default;

    @include vp-1365 {
      top: 22px;
      left: 3px;
    }

    @include vp-767 {
      top: 28px;
    }
  }

  dl {
    @include reset-margins;
    z-index: -1;
  }

  dt {
    font: 500 0.88em/1.3em $ff-default;
    margin-bottom: 2px;
  }

  dd {
    @include reset-margins;
    font: 400 0.88em/1.4em $ff-default;

    &:not(:last-of-type) {
      margin-bottom: 11px;
    }
  }

  a {
    position: relative;
    order: 2;
    z-index: -2;
    display: block;
    padding: 14px;
    width: 100%;
    background-color: $color-light-back;
    font: 600 0.88em/1em $ff-default;
    text-align: center;
    color: $color-dark-blue;
    transition: background-color 0.3s ease 0s;
    margin-top: auto;

    @media (hover: hover), screen and (min-width: $vp-1366) {
      &:hover {
        background-color: $color-active;
      }
    }

    &:focus {
      background-color: $color-active;
      outline: none;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @media (hover: hover), screen and (min-width: $vp-1366) {
    &:hover {
      img {
        display: none;
      }

      h3 {
        position: static;
        order: 0;
      }

      dl {
        z-index: 10;
      }

      a {
        z-index: 10;
      }

      .cruises-item__gradient-effect {
        z-index: -1;
      }
    }
  }
}

.cruises-item__photo {
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
    background-color: $header-background;

    @include vp-767 {
      object-position: center 75%;
    }
  }
}

.cruises-item__gradient-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $blue-to-transporent;
}

.cruises-item a[data-card="link"]:focus {
  z-index: 10;
}

.cruises-item a[data-card="link"]:focus ~ picture img {
  display: none;
}

.cruises-item a[data-card="link"]:focus ~ h3 {
  position: static;
  order: 0;
}

.cruises-item a[data-card="link"]:focus ~ dl {
  z-index: 10;
}

.cruises-item a[data-card="link"]:focus ~ .cruises-item__gradient-effect {
  display: none;
}
