.header {
  padding: 35px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  @include vp-1365 {
    padding: 25px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }

  &--nojs {
    @include vp-767 {
      position: relative;
      background-color: $color-dark-blue;
    }
  }
}
