.header {
  padding: 35px 0;
  position: relative;

  @include vp-1365 {
    padding: 25px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }

  &__back {
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 650px;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center center;
      background-color: $header-background;

      @include vp-1365 {
        height: 638px;
      }

      @include vp-767 {
        height: 500px;
        object-position: center 75%;
      }
    }
  }
}
