.intro {
  color: $color-light-back;
  text-shadow: 0 4px 4px $color-box-shadow;
  min-height: 650px;
  padding: 162px + 108px 95/1160 * 100% 20px;
  box-shadow: 0 4px 4px 0 $color-box-shadow;
  position: relative;
  z-index: 3;

  @include vp-1365 {
    padding: 185px + 83px 0 20px;
    min-height: 638px;
  }

  @include vp-767 {
    padding: 117px + 60px 0 20px;
    min-height: 500px;
  }

  h1 {
    @include reset-margins;
    font: 700 3.38em/1.2em $ff-default;
    margin-bottom: 15px;

    @include vp-1365 {
      font-size: 3.13em;
    }

    @include vp-767 {
      font-size: 2.25em;
      line-height: 1.25em;
      margin-bottom: 10px;
    }
  }

  p {
    @include reset-margins;
    font: 400 1.25em/1.2em $ff-default;

    @include vp-1365 {
      font-size: 1.13em;
    }

    @include vp-767 {
      font-size: 1em;
      line-height: 1.3em;
    }
  }
}
