.logo {
  font-size: 0;
  line-height: 0;
  width: 70px;
  height: 38px;

  @include vp-1365 {
    width: 38px;
    height: 20px;
  }
}

.logo-light {
  &--inactive {
    @include vp-767 {
      display: none;
    }
  }
}

.logo-dark {
  display: none;

  &--active {
    @include vp-767 {
      display: block;
      position: absolute;
      top: 20px;
      left: 50/320 * 100%;
      z-index: 10;
    }
  }
}
