.checkbox {
  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  input:checked + label > svg {
    display: block;
  }

  input:focus + label::before {
    background-color: $color-active;
  }
}

.checkbox__visual {
  padding-left: 23px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $color-light-back;
  font: 400 0.63em/1em $ff-default;
  margin-bottom: 32px;

  @media (hover: hover), screen and (min-width: $vp-1366) {
    &:hover {
      color: $color-active;
    }
  }

  @include vp-767 {
    padding-left: 25px;
    margin-bottom: 28px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: $color-light-back;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: none;
    display: none;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }
}
