body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  @include vp-767 {
    position: fixed;

    overflow: hidden;
  }
}

.scroll-lock {
  @include vp-767 {
    overflow: hidden;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.input--error {
  outline: 2px solid $color-error;

  &:focus {
    outline: 2px solid $color-error;
  }
}

.overlay {
  @include vp-767 {
    &::before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $color-overlay;
      z-index: 4;
    }
  }
}
