// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-dark-blue:                   #011c40;
$color-light-back:                  #f9fbfd;
$header-background:                 #d7e4f3;
$color-active:                      #86daed;
$color-error:                       #ff1553;
$color-box-shadow:                  rgba(0, 0, 0, 0.25);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$blue-to-transporent:               linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $color-dark-blue 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$ff-default:                        "Montserrat", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1366:                           1366px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Paddings
// ---------------------------------
$desktop-padding:                   103/1366 * 100%;
$tablet-padding:                    45/768 * 100%;
$mobile-padding:                    15/320 * 100%;
